<% if @locations.any? %>
  <div class="d-flex flex-wrap gap-2 mb-4">
    <% @locations.each do |location| %>
      <%= link_to location.name, location_positions_path(location), class: "btn btn-sm #{location == @location ? "btn-primary" : "btn-outline-secondary"}" %>
    <% end %>
  </div>
<% end %>
